<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Vlib Stations</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      h2 {
        color: #333;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      a {
        text-decoration: none;
        color: #007bff;
        margin-right: 10px;
        border-collapse: collapse;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h2>Vlib Stations</h2>
    <div>
      <form action="/" method="GET">
        <input type="text" name="search" placeholder="Rechercher" />
        <input type="radio" name="search_option" value="name" checked /> Nom de
        station
        <input type="radio" name="search_option" value="commune" /> Commune
        <button type="submit">Chercher</button>
      </form>
      <br />
      <a href="/add">Ajouter station</a>
    </div>

    <table>
      <tr>
        <th>Nom station</th>
        <th>Station en fonctionnement</th>
        <th>Capacité de la station</th>
        <th>Nombre bornettes libres</th>
        {#
        <th>Nombre total vélos disponibles</th>
        <th>Vélos mécaniques disponibles</th>
        <th>Vélos électriques disponibles</th>
        <th>Borne de paiement disponible</th>
        <th>Retour vélib possible</th>
        <th>Nom communes équipées</th>
        #}
      </tr>
      {% if all_data %} {% for data in all_data %}
      <tr>
        <td>{{ data.station }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.capacity }}</td>
        <td>{{ data.nbbornettesLibre }}</td>
        {#
        <td>{{ data.nbtotalvelodispo }}</td>
        <td>{{ data.velomecadispo }}</td>
        <td>{{ data.veloelecdispo }}</td>
        <td>{{ data.bornedispo }}</td>
        <td>{{ data.retourvelip }}</td>
        <td>{{ data.commune }}</td>
        #}
      </tr>
      {% endfor %} {% else %}
      <tr>
        <td colspan="12">No matching results found.</td>
      </tr>
      {% endif %}
    </table>
  </body>
</html>
